## List
Exercises: Level 1
1. Declare an empty list
2. Declare a list with more than 5 items
3. Find the length of your list
4. Get the first item, the middle item and the last item of the list
5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [19]:
empty_list = list()
empty_list = []

#list with 5 items
shopping_list = ['meat', 'maggi', 'fish', 'beans', 'salt', 'rice','spaggetti']
print ( shopping_list)

#length of the list
print(len(shopping_list))

# Get the first item, the middle item and the last item of the list
print(shopping_list[0])
print(shopping_list[4])
print(shopping_list[5])

#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['name', 32, 3.2, 'married', 'railway kano']
print(mixed_data_types)

['meat', 'maggi', 'fish', 'beans', 'salt', 'rice', 'spaggetti']
7
meat
salt
rice
['name', 32, 3.2, 'married', 'railway kano']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

7. Print the list using print()

8. Print the number of companies in the list

9. Print the first, middle and last company

10.Print the list after modifying one of the companies

In [34]:
#we are declaring a varible
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)
print(len(it_companies))
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

#modifiying a list
del it_companies[1]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook
Apple
Amazon
['Facebook', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11. Add an IT company to it_companies
12. Insert an IT company in the middle of the companies list
13. Change one of the it_companies names to uppercase (IBM excluded!)
14. Join the it_companies with a string '#;  '
15. Check if a certain company exists in the it_companies list.

In [ ]:
#adding IT company
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.append('IT company')

#to add the company to the middle of the list
middle_index = len(it_companies) // 2
it_companies.insert(middle_index, 'IT company')
print(f"After inserting in the middle: {it_companies}")


# To Change one of the IT companies' names to uppercase (IBM excluded!)
it_companies[1] = it_companies[1].upper()  
print(f"After changing to uppercase: {it_companies}")

#Join the IT companies with the string '#;  '
joined_it_companies = '#; '.join(it_companies)
print(f"Joined companies: {joined_it_companies}")

#Check if a certain company exists in the list
company_to_check = 'IT company'
is_company_in_list = company_to_check in it_companies
print(f"{company_to_check} exist in the list? {is_company_in_list}")

After inserting in the middle: ['Facebook', 'MICROSOFT', 'Apple', 'IT company', 'IT company', 'IT company', 'IT company', 'IBM', 'Oracle', 'Amazon', 'IT company', 'IT company', 'IT company', 'IT company']
After changing to uppercase: ['Facebook', 'MICROSOFT', 'Apple', 'IT company', 'IT company', 'IT company', 'IT company', 'IBM', 'Oracle', 'Amazon', 'IT company', 'IT company', 'IT company', 'IT company']
Joined companies: Facebook#; MICROSOFT#; Apple#; IT company#; IT company#; IT company#; IT company#; IBM#; Oracle#; Amazon#; IT company#; IT company#; IT company#; IT company
IT company exist in the list? True

16. Sort the list using sort() method
17. Reverse the list in descending order using reverse() method
18. Slice out the first 3 companies from the list
19. Slice out the last 3 companies from the list
20. Slice out the middle IT company or companies from the list

In [41]:
#sort the list using sort()
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.sort()
it_companies.sort(reverse=True)
print(f"Sorted list: {it_companies}")
print(f"Reversed (descending order) list: {it_companies}")

#Slice out the first 3 companies from the list
first_three = it_companies[:3]
print(f"First 3 companies: {first_three}")

#Slice out the last 3 companies from the list
last_three = it_companies[-3:]
print(f"Last 3 companies: {last_three}")

#Slice out the middle IT company or companies from the list
length = len(it_companies)
if length % 2 == 0:  # Even number of companies
    middle_companies = it_companies[length//2 - 1 : length//2 + 1]
else:  # Odd number of companies
    middle_companies = [it_companies[length//2]]
print(f"Middle IT company/companies: {middle_companies}")

Sorted list: ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
Reversed (descending order) list: ['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
First 3 companies: ['Oracle', 'Microsoft', 'IBM']
Last 3 companies: ['Facebook', 'Apple', 'Amazon']
Middle IT company/companies: ['Google']

21. Remove the first IT company from the list
22. Remove the middle IT company or companies from the list
23. Remove the last IT company from the list
24. Remove all IT companies from the list
25. Destroy the IT companies list

In [54]:

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
#Remove the first company
print(it_companies)
del it_companies[0]
print(it_companies)

#Remove the middle IT company or companies from the list
length = len(it_companies)
if length % 2 == 0:  # Even number of companies
    middle_start = length // 2 - 1
    del it_companies[middle_start:middle_start + 2] 
else:  # Odd number of companies
    middle_index = length // 2
    del it_companies[middle_index]  # Remove the single middle company
print(f"After removing the middle company/companies: {it_companies}")

#Remove the last IT company from the list
del it_companies[-1] 
print(f"After removing the last company: {it_companies}")

#Remove all IT companies from the list
it_companies.clear()  # Clear all elements from the list
print(f"After removing all companies: {it_companies}")

#Destroy the IT companies list
del it_companies  # Completely delete the list
#print(it_companies)  # This will raise an error because the list no longer exists

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
After removing the middle company/companies: ['Google', 'Microsoft', 'Oracle', 'Amazon']
After removing the last company: ['Google', 'Microsoft', 'Oracle']
After removing all companies: []

26. Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [55]:
# Join the two lists
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

# Join the lists
joined_list = front_end + back_end
print(f"Joined list: {joined_list}")

#Copy the joined list and assign it to a new variable full_stack
full_stack = joined_list.copy()

# Insert Python and SQL after Redux
redux_index = full_stack.index('Redux')  # Find the index of 'Redux'
full_stack.insert(redux_index + 1, 'Python')  # Insert Python after Redux
full_stack.insert(redux_index + 2, 'SQL')  # Insert SQL after Python
print(f"Full stack after inserting Python and SQL: {full_stack}")

Joined list: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
Full stack after inserting Python and SQL: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']